#center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw
    
  }
  #center{ margin: auto;
    padding-left: 22.5vw;
  
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: white;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

#head{
    font-size: 20px;
}
#title{
    background-color: red;
    margin: auto;

    
}
#imgg{
    float: left;
}
#img2{
    float: right;
    flex-direction: row;
}
#img3{
    float: right;
    width: 250px;
    height: 200px;
    display: inline;
    width: 30px;
    height: 20px;
    padding: 5px;
}
#img4{
    float: right;
    width: 250px;
    height: 200px;
}
#flex{
  display:flex 
}